{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3 g-4">
        <div class="container">
            <div class="post-entry">
                <h2 class="text-center text-xl-start" >{{ post.titulo }}</h2>
                <img class="w-100 rounded mx-auto d-block" src="{{ post.imagen}}" alt="">
                <div class="card-footer">
                    <p>{{ post.cuerpo }}</p>
                </div>
            </div>
            

            {% if post.autor == request.user %}
            <div class="mb-3">
                <a class="btn btn-block btn-outline-primary" href="{% url 'post_edit' post.pk %}">+ Editar la publicacion de la pelicula</a>
    
            </div>
    
            <div class="mb-3">
                <a class="btn btn-block btn-outline-danger" href="{% url 'post_delete' post.pk %}">+ Eliminar la publicacion de la pelicula</a>
            </div>
            {% endif %}
        </div>

        <div class="container">
            
        </div>


    </div>



{% endblock content %}